div {  
    text-align: center;
    .primary-text {
        font-size: 64px;
        margin: 0;
    }
    .secondary-text {
        font-size: 40px;
        margin: 0;
        span {
            font-size: 40px;
            margin: 0;
            color: #4B5FE6;
        }
    }
}
form {
    button {
        background-color: #4B5FE6;
        color: #FFFFFF  ;
    }
}